@font-face {
  font-family: "Montserrat";
  src: url("../../../public/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../public/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
